.breadcrumbs {
  width:100%;
  display: block;
  margin: 30px 0 18px 0;
  &__item {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
    &:hover {
      color: #E7B166;
    }
  }
  i {
    color: #E7B166;
  }

  &_gallery {
    margin: -40px 0 18px 0;
  }
}
