.grid {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  width: 100%;

  &__block {
    &_1 {
      width: 100%;
    }

    &_2 {
      width: calc(50% - 1.5rem);
    }

    &_3, &_2-1 {
      width: calc((100% - 6rem) / 3);
    }

    &_2-2 {
      width: calc((100% - 2rem) / 3 * 2);
    }

    &_4 {
      width: calc((100% - 6rem) / 4);
    }

    &_6 {
      width: calc((100% - 10rem) / 6);
    }
  }


  .grid__col {
    &_1 { width: calc((100% - 11rem) / 12)}
    &_2 { width: calc((100% - 11rem) / 12 * 2)}
    //&_3 { width: calc((100% - 11rem) / 12 * 3)}
    &_4 { width: calc((100% - 11rem) / 12 * 4)}
    //&_5 { width: calc((100% - 11rem) / 12 * 5)}
    &_6 { width: calc((100% - 11rem) / 12 * 6)}
    &_7 { width: calc((100% - 11rem) / 12 * 7)}
    &_8 { width: calc((100% - 11rem) / 12 * 8)}
    &_9 { width: calc((100% - 11rem) / 12 * 9)}
    &_10 { width: calc((100% - 11rem) / 12 * 10)}
    &_11 { width: calc((100% - 11rem) / 12 * 11)}
    &_12 { width: calc((100% - 11rem) / 12  * 12)}
  }



  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4rem;
    //padding: 0 4rem;

    &_nowrap {
      flex-wrap: nowrap;
      white-space: normal;
    }

    &_no-pad {
      padding: 0;
    }

    &_footer-nav {
      border-top: 1px solid #DDDDDD;
      padding: 0;
      margin: 8rem 4rem 0;
      box-sizing: border-box;
      width: calc(100% - 8rem);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}



/*@media (min-width: 1024px ) {
  .grid {
    &__block {
      box-sizing: border-box;

      &_1 {
        width: 100%;
      }

      &_2 {
        width: calc(50% - 1.5rem);
      }

      &_3 {
        width: calc((100% - 6rem) / 3);
      }

      &_4 {
        width: calc((100% - 6rem) / 4);
      }

      &_6 {
        width: calc((100% - 10rem) / 6);
      }
    }

    &_row {
      flex-direction: column;
    }
  }


}*/
