$rem: 10px;
$base-font-size: 16px;
$base-line-height: 24px;
$base-font: 'Roboto Condensed', sans-serif;
$fa-font-path: "../fonts";

$green: #429871;
$lightGreen: #42B570;
$borderGreen: #338459;
$brightGreen: #0CAF54;
$grassGreen: #39CA49;
$darkGreen: #265741;
$pastelGreen: #E2F3EB;
$linkGreen: #007251;
$hoverGreen: #007351;
$activeGreen: #428D78;
$newsBorderGreen: #439872;
$borderLightGreen:#75BF8E;

$orange: #FD852F;
$lightOrange: #FD9144;
$darkOrange: #EA6502;
$borderOrange: #FE9D56;

$gray: #A6A6A6;
$lightGray: #F2F2F2;
$darkGray: #6E6E6E;
$middleGray: #C8C8C8;
$borderGray_light: #DDDDDD;
$borderGray_dark: #CCCCCC;

$red: #c80000;
$borderRed: #FF4D4D;
$hoverRed: #D71010;

$font-xs: .75em;
$font-s: .875em;
$font-sm: 1.125em;
$font-m: 1.25em;
$font-l: 1.375em;
$font-xl: 1.5em;
$font-xxl: 1.875em;

/*
font-xs -- 12px
font-s -- 14px
font-sm -- 18px
font-m -- 20px
font-l -- 22px
font-xl -- 24px
font-xxl -- 32px
*/
